@import url(https://fonts.googleapis.com/css?family=Montserrat);

.container {
  max-width: 900px;
  margin: 0 auto;
  font-family: "Montserrat";
  color: #A43E38;
}

h1, h2 {
  text-align: center;
}
